.out-login{
    border: 2px solid purple;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.login-container{
    border-radius: 8px;
    border: 1px solid #111827;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 30%;
    height: 50%;
    gap: 6px;
    padding-bottom: 20px;
}
.login-container h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.login-container input{
    border: 1px solid #d8dbde;
    border-radius: 8px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-left: 4px;
    width: 80%;
    border: none;
}
.login-container button{
    height: 30px;
    border-radius: 8px;
    width: 80%;
    cursor: pointer;
    background-color: #111827;
    color: white;
}