.out-register {
    border: 2px solid purple;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.register-container {
    border-radius: 8px;
    border: 1px solid #111827;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 50%;
    gap: 6px;
    padding-bottom: 20px;
}

.register-container h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.register-container input {
    border-radius: 8px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-left: 4px;
    width: 80%;
    border: 1px solid #d8dbde;

}

.register-container button {
    height: 30px;
    border-radius: 8px;
    width: 80%;
    cursor: pointer;
    background-color: #111827;
    color: white;
}

@media (max-width: 600px) {


    .out-register {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 16px;
    }

    .register-container {
        width: 100%;
        height: auto;
        padding: 20px 10px;
        gap: 12px;
    }

    .register-container h2 {
        font-size: 22px;
    }

    .register-container input {
        border: 1px solid #d8dbde;
        border-radius: 8px;
        height: 40px;
        width: 80%;
        padding-left: 10px;
    }

    .register-container button {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
}