.vehicleContainer{
    background-color: rgb(238, 241, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.vehicleContainer h2{
    /* border: 2px solid red; */
    /* white-space: nowrap; */
    margin: 30px;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
    /* gap: 6px; */
    /* border: 2px solid red; */
    /* border: 2px solid red; */
}
.card-container .each-card{
    /* border: 2px solid green; */
    border: 1px solid #c1c7d4;
    border-radius: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    align-items:center ;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 16px;
}

.car-img{
    margin-top: 6px;
    /* border: 2px solid rebeccapurple; */
    width: 96%;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
}
.each-card .car-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.each-card .info{
    /* border: 2px solid red; */
    width: 96%;
    display: flex;
    /* padding: 10px; */

}
.info .info-left{
    /* border: 2px solid blue; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

}
.info-left h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 1px;
    margin-top: 4px;
}
.info-left h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1px;
    margin-top: 4px;
    font-size: 12px;
    
}
.info .info-right{
    /* border: 2px solid purple; */
    width: 34%;
    display: flex;
    align-items: end;
    margin-bottom: 10px;
    

}
.info-right button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(101, 16, 16);
    color: white;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

}