.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url("../assets/car1.jpg");


    /* border: 2px solid red; */
    height: 76vh;
    background-size: cover;
    background-position: center;

}

.hero-content {
    /* border: 2px solid red; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.hero-content h2 {
    color: white;
    font-size: 66px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-content p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-content button{
    border:none;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 150px;
    height: 30px;
    cursor:pointer;
}