.navContainer{
    /* border: 2px solid red; */
    /* border-radius: 0px 0px 5px 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: #111827;
    /* height: 10vh; */
    top: 0px;
    margin-top: 0px;
    border-bottom: 1px solid white;
    

}
.navleft{
    color: white;
    
    font-size: 30px;
    font-weight: 1000;
    height: 100%;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navleft span{
    color:red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.navright{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: medium;
    color: white;
    margin-right: 10px;

}

.nav-link {
  text-decoration: none;   
  color: inherit;          
}
.navright button{
    height: 26px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: red;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: medium;
}