.navContainer {
    /* border: 2px solid red; */
    /* border-radius: 0px 0px 5px 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: #111827;
    /* height: 10vh; */
    top: 0px;
    margin-top: 0px;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;


}
.navleft{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}

.navleft h1 {
    color: white;

    font-size: 30px;
    font-weight: 1000;
    height: 100%;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navleft h1 > span {
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navright {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: medium;
    color: white;
    margin-right: 10px;

}
.hamburger{
    display: none;
     font-size: 30px;
     color: white;
     margin-right: 30px;
  cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}
#b1{
  display: none;
}
#b2{
  
   
    height: 26px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: red;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: medium;
}
.des-cart{
  display: flex;

}
.mob-cart{
  display: none;
}

@media (max-width: 768px){
  .navleft h1{
    margin-left: 0px;
  }
  #b1{
    
        font-family: roboto;
        color: white;
        background-color: red;
        border: none;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        width: 64px;
        cursor: pointer;
        margin-right: 26px;
  }
    .hamburger {
    display: block;
    color: white;

  }
    .navright {
    display: none;
    flex-direction: column;
      justify-content:normal;
    position: absolute;
    top: 76px;
    left: 10px;
    background: #222;
    padding: 15px;
    border-radius: 8px;
    gap: 0px;
    width: 20vw;
    /* height: 26vh; */
  }
  .navright button{
    margin: 4px;
  }
  .navright h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
  }
  .navright Link{
    padding: 0px;
  }
   .open {
    display: flex;
  }
  #b2{
    display: none;
  }
  .mob-cart{
    color: white;
    display: flex;
  }
  .des-cart{
  display: none;
  }



  .mob-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

